Repository IamKrytas/programowanie-zwinne, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

Update BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
Labels: backend

Add logoutUserService function in userService
  FRONTEND/src/services/userService.ts
Labels: frontend

Update Navbar file
  FRONTEND/src/components/Navbar.tsx
Labels: frontend

PTR-57: Create script for automatic test user creation on backend
  BACKEND/src/main/java/com/project/config/StartupConfig.java
Labels: backend

fix api url port
  FRONTEND/src/services/userService.ts
Labels: frontend

PTR-78: CORS configuration on backend (#36)
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
Labels: backend

Setup logging to file and backend
  BACKEND/build.gradle
  BACKEND/logs/app.log
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
  BACKEND/src/main/java/com/project/service/AuthService.java
  BACKEND/src/main/java/com/project/service/FileStorageService.java
  BACKEND/src/main/java/com/project/service/JwtTokenService.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/RegistrationService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/main/resources/application.properties
Labels: backend

PTR-76: Add routing and access to views on frontend
  FRONTEND/src/App.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/views/AdminPanelView.tsx
Labels: frontend

Update StartupConfig.java
  BACKEND/src/main/java/com/project/config/StartupConfig.java
Labels: backend

PTR-57: Create script for automatic test user creation on backend
  BACKEND/src/main/java/com/project/config/StartupConfig.java
Labels: backend

PTR-41: Add chat capabilities to frontend
  FRONTEND/package-lock.json
  FRONTEND/package.json
  FRONTEND/src/App.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/vite.config.ts
Labels: frontend

Use 'as' instead of 'href' in Link tag
  FRONTEND/src/components/Navbar.tsx
Labels: frontend

PTR-41: Add chat capabilities to frontend
  FRONTEND/package-lock.json
  FRONTEND/package.json
  FRONTEND/src/App.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/vite.config.ts
Labels: frontend

PTR-64: Add file management to the backend
  BACKEND/src/main/java/com/project/controller/ProjectFileController.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Task.ts
  FRONTEND/src/models/Teacher.ts
Labels: backend, frontend

Changed back types
  BACKEND/src/main/java/com/project/controller/ProjectFileController.java
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Task.ts
  FRONTEND/src/models/Teacher.ts
Labels: backend, frontend

Add .gitignore
  BACKEND/.gitignore
Labels: backend

Delete BACKEND/logs directory
  BACKEND/logs/app.log
Labels: backend

PTR-22: Setup logging both to file and console on backend
  BACKEND/.gitignore
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
  BACKEND/src/main/java/com/project/service/AuthService.java
  BACKEND/src/main/java/com/project/service/FileStorageService.java
  BACKEND/src/main/java/com/project/service/JwtTokenService.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/RegistrationService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/main/resources/application.properties
Labels: backend

Fix: Copilot comments
  BACKEND/src/main/java/com/project/controller/ProjectFileController.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  BACKEND/src/main/resources/application.properties
Labels: backend

PTR-64: Add file management to the backend
  BACKEND/src/main/java/com/project/controller/ProjectFileController.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  BACKEND/src/main/resources/application.properties
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
Labels: backend

Jestem super
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/model/Teacher.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/main/resources/application.properties
  BACKEND/src/test/java/com/project/controller/ProjectManagementControllerTest.java
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/ProjectManagementServiceTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/controllers/userController.ts
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Task.ts
  FRONTEND/src/models/Teacher.ts
  FRONTEND/src/models/User.ts
  FRONTEND/src/models/auth/JwtTokenPair.ts
  FRONTEND/src/models/auth/LoginCredentials.ts
  FRONTEND/src/models/auth/UserRole.ts
  FRONTEND/src/services/userService.ts
Labels: backend, frontend

Jestem super 2
  FRONTEND/src/models/Student.ts
Labels: frontend

Jestem super 3
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/controllers/userController.ts
  FRONTEND/src/models/Task.ts
Labels: backend, frontend

PTR-79: Fix inconsistency between frontend and backend models
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/model/Teacher.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/main/resources/application.properties
  BACKEND/src/test/java/com/project/controller/ProjectManagementControllerTest.java
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/ProjectManagementServiceTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/controllers/userController.ts
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Task.ts
  FRONTEND/src/models/Teacher.ts
  FRONTEND/src/models/User.ts
  FRONTEND/src/models/auth/JwtTokenPair.ts
  FRONTEND/src/models/auth/LoginCredentials.ts
  FRONTEND/src/models/auth/UserRole.ts
  FRONTEND/src/services/userService.ts
Labels: backend, frontend

PTR-80: Setup skeleton directory for integration testing
  .github/workflows/build.yml
  BACKEND/build.gradle
  BACKEND/src/integrationTest/java/com/project/StudentIntegrationTest.java
  BACKEND/src/main/java/com/project/config/StartupConfig.java
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/repository/TaskRepository.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/models/Project.ts
Labels: backend, frontend, infra

PTR-80: Setup skeleton directory for integration testing
  .github/workflows/build.yml
  BACKEND/build.gradle
  BACKEND/src/integrationTest/java/com/project/StudentIntegrationTest.java
  BACKEND/src/main/java/com/project/config/StartupConfig.java
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/repository/TaskRepository.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/models/Project.ts
Labels: backend, frontend, infra

Add integration tests
  BACKEND/src/integrationTest/java/com/project/AdminIntegrationTest.java
  BACKEND/src/integrationTest/java/com/project/TeacherIntegrationTest.java
Labels: backend

Fix failing integration tests
  BACKEND/src/integrationTest/java/com/project/AdminIntegrationTest.java
  BACKEND/src/integrationTest/java/com/project/TeacherIntegrationTest.java
Labels: backend

PTR-80: Add integration tests for admin and teacher
  BACKEND/src/integrationTest/java/com/project/AdminIntegrationTest.java
  BACKEND/src/integrationTest/java/com/project/TeacherIntegrationTest.java
Labels: backend

Create files for project and task management
  FRONTEND/src/controllers/projectController.ts
  FRONTEND/src/controllers/taskController.ts
  FRONTEND/src/services/projectService.ts
  FRONTEND/src/services/taskService.ts
Labels: frontend

Add all services for project management
  FRONTEND/src/services/projectService.ts
Labels: frontend

Add all services for task management
  FRONTEND/src/services/taskService.ts
Labels: frontend

Add all controllers for project management
  FRONTEND/src/controllers/projectController.ts
Labels: frontend

Add all controllers for task management
  FRONTEND/src/controllers/taskController.ts
Labels: frontend

Add task view for task management
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

Add project view for project management
  FRONTEND/src/views/ProjectView.tsx
Labels: frontend

Add routes for task and project management
  FRONTEND/src/App.tsx
Labels: frontend

Update Navbar
  FRONTEND/src/components/Navbar.tsx
Labels: frontend

Fix errors
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

Change div to Container component
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

.github/labeler.yml:

backend:
- changed-files:
  - any-glob-to-any-file: 'BACKEND/**'

frontend:
- changed-files:
  - any-glob-to-any-file: 'FRONTEND/**'

infra:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - 'CONTRIB/**'

hotfix:
 - head-branch: ['fix', 'hotfix', 'bug', 'bug-fix']
