Repository IamKrytas/programowanie-zwinne, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

.github/labeler.yml:

backend:
- changed-files:
  - any-glob-to-any-file: 'BACKEND/**'

frontend:
- changed-files:
  - any-glob-to-any-file: 'FRONTEND/**'

infra:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - 'CONTRIB/**'

hotfix:
 - head-branch: ['fix', 'hotfix', 'bug', 'bug-fix']

PTR-7: Create models on frontend
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Task.ts
  FRONTEND/src/models/Teacher.ts
Labels: frontend

PTR-7: Typo and date type change
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Task.ts
  FRONTEND/src/models/Teacher.ts
Labels: frontend

PTR-7: Create models on frontend
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Task.ts
  FRONTEND/src/models/Teacher.ts
Labels: frontend

PTR-8: Delete excess student list in Project
  BACKEND/src/main/java/com/project/model/Project.java
Labels: backend

PTR-8: Delete excess student list in Project
  BACKEND/src/main/java/com/project/model/Project.java
Labels: backend

Added Swagger configuration
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/SwaggerConfig.java
  BACKEND/src/main/java/com/project/controller/TestController.java
  BACKEND/src/main/resources/application.properties
Labels: backend

Removed test Controller
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/controller/TestController.java
Labels: backend

PTR-48: Add login view to frontend
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/views/LoginView.tsx
Labels: frontend

PTR 47: Add registration view to frontend
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/views/RegisterView.tsx
Labels: frontend

PTR-32: Add Swagger library to the backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/SwaggerConfig.java
  BACKEND/src/main/resources/application.properties
Labels: backend

PTR-50: Add registration controller to frontend
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/controllers/userController.ts
  FRONTEND/src/models/User.ts
  FRONTEND/src/views/HomeView.tsx
Labels: frontend

PTR-49: Add login controller to frontend
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/controllers/userController.ts
  FRONTEND/src/models/User.ts
Labels: frontend

PTR-68: Add register service to frontend
  FRONTEND/src/services/userService.ts
Labels: frontend

PTR-67: Add login service to frontend
  FRONTEND/src/services/userService.ts
Labels: frontend

Fix bootstrap stylesheet error
  FRONTEND/index.html
  FRONTEND/src/views/HomeView.tsx
Labels: frontend

PTR-8: Change task collection into list of tasks in Project
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
Labels: backend

PTR-7: Change Task collection into list in Project collection
  FRONTEND/src/models/Project.ts
Labels: frontend

PTR-8: Change Task collection into list of task objects
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
Labels: backend

PTR-8: Change Task collection into list of task objects
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
Labels: backend

PTR-7: Add password field
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Teacher.ts
Labels: frontend

PTR-7: Change Task collection into list in Project collection on frontend
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Teacher.ts
Labels: frontend

Changes with endpoints and models in frontend auth
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/controllers/userController.ts
  FRONTEND/src/models/Project.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/Teacher.ts
  FRONTEND/src/models/User.ts
  FRONTEND/src/services/userService.ts
Labels: frontend

PTR-48: Add login and registration views to backend
  FRONTEND/index.html
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/controllers/userController.ts
  FRONTEND/src/models/Student.ts
  FRONTEND/src/models/User.ts
  FRONTEND/src/services/userService.ts
  FRONTEND/src/views/HomeView.tsx
  FRONTEND/src/views/LoginView.tsx
  FRONTEND/src/views/RegisterView.tsx
Labels: frontend

Add student self-registration endpoints to backend
  BACKEND/src/main/java/com/project/controllers/RegistrationController.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/repositories/StudentRepository.java
  BACKEND/src/main/java/com/project/services/RegistrationService.java
  BACKEND/src/main/resources/application.properties
Labels: backend

.\.git\
  BACKEND/src/main/java/com/project/controllers/RegistrationController.java
  BACKEND/src/main/java/com/project/services/RegistrationService.java
  BACKEND/src/main/resources/application.properties
Labels: backend

PTR-54: Add student self-registration endpoints to backend
  BACKEND/src/main/java/com/project/controllers/RegistrationController.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/repositories/StudentRepository.java
  BACKEND/src/main/java/com/project/services/RegistrationService.java
Labels: backend

PTR-9: Adapt backend configuration to work with docker-compose files
  BACKEND/src/main/resources/application.properties
  CONTRIB/docker/app-dependencies.yaml
Labels: backend, infra

PTR-9: Adapt backend configuration to work with docker-compose files
  BACKEND/src/main/resources/application.properties
  CONTRIB/docker/app-dependencies.yaml
Labels: backend, infra

PTR-53: Add login endpoints to backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/controller/AuthController.java
  BACKEND/src/main/java/com/project/controller/RegistrationController.java
  BACKEND/src/main/java/com/project/model/Teacher.java
  BACKEND/src/main/java/com/project/model/auth/JwtTokenDetails.java
  BACKEND/src/main/java/com/project/model/auth/JwtTokenPair.java
  BACKEND/src/main/java/com/project/model/auth/JwtTokenType.java
  BACKEND/src/main/java/com/project/model/auth/LoginCredentials.java
  BACKEND/src/main/java/com/project/model/auth/UserRole.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/repository/StudentRepository.java
  BACKEND/src/main/java/com/project/repository/TaskRepository.java
  BACKEND/src/main/java/com/project/repository/TeacherRepository.java
  BACKEND/src/main/java/com/project/service/AuthService.java
  BACKEND/src/main/java/com/project/service/JwtTokenService.java
  BACKEND/src/main/java/com/project/service/RegistrationService.java
  BACKEND/src/main/resources/application.properties
  BACKEND/src/test/java/com/project/ProjectRestApiApplicationTest.java
  BACKEND/src/test/java/com/project/controller/AuthControllerTest.java
  BACKEND/src/test/java/com/project/service/AuthServiceTest.java
  BACKEND/src/test/java/com/project/service/JwtTokenServiceTest.java
Labels: backend

PTR-53: Address Copilot comments
  BACKEND/src/main/java/com/project/controller/AuthController.java
  BACKEND/src/main/java/com/project/repository/StudentRepository.java
  BACKEND/src/main/java/com/project/repository/TeacherRepository.java
  BACKEND/src/main/java/com/project/service/AuthService.java
  BACKEND/src/test/java/com/project/service/AuthServiceTest.java
Labels: backend

PTR-53: Add login endpoints to backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/controller/AuthController.java
  BACKEND/src/main/java/com/project/controller/RegistrationController.java
  BACKEND/src/main/java/com/project/model/Teacher.java
  BACKEND/src/main/java/com/project/model/auth/JwtTokenDetails.java
  BACKEND/src/main/java/com/project/model/auth/JwtTokenPair.java
  BACKEND/src/main/java/com/project/model/auth/JwtTokenType.java
  BACKEND/src/main/java/com/project/model/auth/LoginCredentials.java
  BACKEND/src/main/java/com/project/model/auth/UserRole.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/repository/StudentRepository.java
  BACKEND/src/main/java/com/project/repository/TaskRepository.java
  BACKEND/src/main/java/com/project/repository/TeacherRepository.java
  BACKEND/src/main/java/com/project/service/AuthService.java
  BACKEND/src/main/java/com/project/service/JwtTokenService.java
  BACKEND/src/main/java/com/project/service/RegistrationService.java
  BACKEND/src/main/resources/application.properties
  BACKEND/src/test/java/com/project/ProjectRestApiApplicationTest.java
  BACKEND/src/test/java/com/project/controller/AuthControllerTest.java
  BACKEND/src/test/java/com/project/service/AuthServiceTest.java
  BACKEND/src/test/java/com/project/service/JwtTokenServiceTest.java
Labels: backend

Add first controllers
  BACKEND/src/main/java/com/project/controller/AdminController.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/service/AdminService.java
Labels: backend

PTR-55: Add admin endpoints to backend
  BACKEND/src/main/java/com/project/controller/AdminController.java
  BACKEND/src/main/java/com/project/controller/AdminStudentController.java
  BACKEND/src/main/java/com/project/controller/AdminTeacherController.java
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
Labels: backend

PTR-55: Add valid annotation, fix changing password
  BACKEND/src/main/java/com/project/controller/AdminStudentController.java
  BACKEND/src/main/java/com/project/controller/AdminTeacherController.java
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
Labels: backend

PTR-55: Add admin endpoints to backend
  BACKEND/src/main/java/com/project/controller/AdminStudentController.java
  BACKEND/src/main/java/com/project/controller/AdminTeacherController.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
Labels: backend

PTR-17: Fill README.md file with useful info
  README.md
Labels: none

unit-tests-for-student
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/services/RegistrationService.java
  BACKEND/src/test/java/com/project/controllers/RegistrationControllerTest.java
  BACKEND/src/test/java/com/project/services/RegistrationServiceTest.java
Labels: backend

PTR-17: Fill README.md file with useful info
  .github/workflows/update-languages.yml
  .github/workflows/update-readme.yml
  README.md
  demo/screenshot.png
  update_language.py
  update_structure.py
Labels: infra

PTR-17: Fill README.md file with useful info
  .github/workflows/update-languages.yml
  .github/workflows/update-readme.yml
  README.md
  demo/screenshot.png
  update_language.py
  update_structure.py
Labels: infra

PTR-17: Hotfix: disable failing jobs
  .github/workflows/update-languages.yml
  .github/workflows/update-readme.yml
  CONTRIB/scripts/update_language.py
  CONTRIB/scripts/update_structure.py
  README.md
  demo/screenshot.png
Labels: infra
