Repository IamKrytas/programowanie-zwinne, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

PTR-40: Add websocket chat to backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/WebSocketConfig.java
  BACKEND/src/main/java/com/project/controller/ChatController.java
  BACKEND/src/main/java/com/project/model/ChatMessage.java
Labels: backend

PTR-17: Hotfix: disable failing jobs
  .github/workflows/update-languages.yml
  .github/workflows/update-readme.yml
  CONTRIB/scripts/update_language.py
  CONTRIB/scripts/update_structure.py
  README.md
  demo/screenshot.png
Labels: infra

PTR-40: Add websocket chat to backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/WebSocketConfig.java
  BACKEND/src/main/java/com/project/controller/ChatController.java
  BACKEND/src/main/java/com/project/model/ChatMessage.java
Labels: backend

unit-tests-for-student
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/service/RegistrationService.java
  BACKEND/src/test/java/com/project/controllers/RegistrationControllerTest.java
  BACKEND/src/test/java/com/project/services/RegistrationServiceTest.java
Labels: backend

Refaktoryzacja testów unit-tests-for-student
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/test/java/com/project/controller/RegistrationControllerTest.java
  BACKEND/src/test/java/com/project/service/RegistrationServiceTest.java
Labels: backend

Create Navbar file
  FRONTEND/src/components/Navbar.tsx
Labels: frontend

Add saving tokens in sessionStorage
  FRONTEND/src/services/userService.ts
Labels: frontend

Create HomePageView
  FRONTEND/src/views/HomePageView.tsx
Labels: frontend

PTR-73: Prepare home page on frontend
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/views/HomePageView.tsx
Labels: frontend

Code review suggestions
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
Labels: backend

PTR-70: Create unit tests for student self-registration feature on backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/service/RegistrationService.java
  BACKEND/src/test/java/com/project/controller/RegistrationControllerTest.java
  BACKEND/src/test/java/com/project/service/RegistrationServiceTest.java
Labels: backend

Add codecov
  .github/workflows/build.yml
  BACKEND/build.gradle
Labels: backend, infra

Install jwt-decode lib on frontend
  FRONTEND/package-lock.json
  FRONTEND/package.json
Labels: frontend

Create decodeAccessToken function
  FRONTEND/src/components/DecodeTokens.ts
Labels: frontend

Update userService
  FRONTEND/src/services/userService.ts
Labels: frontend

Update LoginForm
  FRONTEND/src/components/LoginForm.tsx
Labels: frontend

PTR-77: Add LICENSE.txt file
  LICENSE.txt
Labels: none

PTR-72: Admin panel security enhancement on backend
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
Labels: backend

PTR-25: Setup file storage service
  BACKEND/src/main/java/com/project/service/FileStorageService.java
  BACKEND/src/test/java/com/project/service/FileStorageServiceTest.java
Labels: backend

PTR-77: Add LICENSE.txt file
  LICENSE.txt
Labels: none

PTR-72: Admin panel security enhancement on backend
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
Labels: backend

PTR-25: Setup file storage service
  BACKEND/src/main/java/com/project/service/FileStorageService.java
  BACKEND/src/test/java/com/project/service/FileStorageServiceTest.java
Labels: backend

Move DecodedTokens file to utils dir and add decodeRefreshToken function
  FRONTEND/src/utils/DecodeTokens.ts
Labels: frontend

Update imports
  FRONTEND/src/components/DecodeTokens.ts
  FRONTEND/src/services/userService.ts
Labels: frontend

Add missing decodeRefreshToken call
  FRONTEND/src/services/userService.ts
Labels: frontend

Change keys names of sessionStorage items
  FRONTEND/src/utils/DecodeTokens.ts
Labels: frontend

Add task and project management endpoints to the backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/controller/ProjectManagementController.java
  BACKEND/src/main/java/com/project/controller/TaskManagementController.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/test/java/com/project/controller/ProjectManagementControllerTest.java
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/ProjectManagementServiceTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  CONTRIB/docker/app-dependencies.yaml
Labels: backend, infra

PTR-75: Handle JWT tokens on frontend
  FRONTEND/package-lock.json
  FRONTEND/package.json
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/utils/DecodeTokens.ts
Labels: frontend

PTR-71 UT for admin panel on backend
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/test/java/com/project/service/AdminStudentServiceTest.java
Labels: backend

PTR-71 Update for admin's panel UT
  BACKEND/src/test/java/com/project/service/AdminStudentServiceTest.java
  BACKEND/src/test/java/com/project/service/AdminTeacherServiceTest.java
Labels: backend

PTR-78: CORS configuration on backend
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
Labels: backend

Changes in TaskManagmentController
  BACKEND/src/main/java/com/project/controller/TaskManagementController.java
Labels: backend

PTR-71 Changes according to the review
  BACKEND/src/test/java/com/project/service/AdminStudentServiceTest.java
  BACKEND/src/test/java/com/project/service/AdminTeacherServiceTest.java
Labels: backend

Create example empty admin file
  FRONTEND/src/views/AdminPanelView.tsx
Labels: frontend

Changes in 3 java files
  BACKEND/src/main/java/com/project/controller/TaskManagementController.java
  CONTRIB/docker/app-dependencies.yaml
Labels: backend, infra

PTR-71: UT for admin panel on backend (#34)
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/test/java/com/project/service/AdminStudentServiceTest.java
  BACKEND/src/test/java/com/project/service/AdminTeacherServiceTest.java
Labels: backend

Modify routing file
  FRONTEND/src/App.tsx
Labels: frontend

Make pipeline pass
  BACKEND/src/test/java/com/project/controller/RegistrationControllerTest.java
Labels: backend

Even more fixes to make pipeline pass
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
Labels: backend

PTR-63: Add task and project management endpoints to the backend
  BACKEND/build.gradle
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/controller/ProjectManagementController.java
  BACKEND/src/main/java/com/project/controller/TaskManagementController.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/test/java/com/project/controller/ProjectManagementControllerTest.java
  BACKEND/src/test/java/com/project/controller/RegistrationControllerTest.java
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/ProjectManagementServiceTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  CONTRIB/docker/app-dependencies.yaml
Labels: backend, infra

.github/labeler.yml:

backend:
- changed-files:
  - any-glob-to-any-file: 'BACKEND/**'

frontend:
- changed-files:
  - any-glob-to-any-file: 'FRONTEND/**'

infra:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - 'CONTRIB/**'

hotfix:
 - head-branch: ['fix', 'hotfix', 'bug', 'bug-fix']
