Repository IamKrytas/programowanie-zwinne, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

Fix null fields
  FRONTEND/src/views/ProjectView.tsx
Labels: frontend

Update route file
  FRONTEND/src/App.tsx
Labels: frontend

Add file with details about specific project (to test)
  FRONTEND/src/views/ProjectByIdView.tsx
Labels: frontend

PTR-65: Add task and project management views to the frontend
  FRONTEND/src/App.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/controllers/projectController.ts
  FRONTEND/src/controllers/taskController.ts
  FRONTEND/src/services/projectService.ts
  FRONTEND/src/services/taskService.ts
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

Update navbar
  FRONTEND/src/components/Navbar.tsx
Labels: frontend

Add all admin student services
  FRONTEND/src/services/adminStudentService.ts
Labels: frontend

Add all admin teacher services
  FRONTEND/src/services/adminTeacherService.ts
Labels: frontend

Add all admin student controllers
  FRONTEND/src/controllers/adminStudentController.ts
Labels: frontend

Add all admin teacher controllers
  FRONTEND/src/controllers/adminTeacherController.ts
Labels: frontend

Add Admin Panel View (to test)
  FRONTEND/src/views/AdminPanelView.tsx
Labels: frontend

PTR-56: Create admin view on frontend
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/controllers/adminStudentController.ts
  FRONTEND/src/controllers/adminTeacherController.ts
  FRONTEND/src/services/adminStudentService.ts
  FRONTEND/src/services/adminTeacherService.ts
  FRONTEND/src/views/AdminPanelView.tsx
Labels: frontend

PTR-nwm-jaki-numer: Add errors notifications
  FRONTEND/package-lock.json
  FRONTEND/package.json
  FRONTEND/src/App.tsx
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/utils/DecodeTokens.ts
  FRONTEND/src/views/AdminPanelView.tsx
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

PTR-84: Fixes and adjustments after manual testing
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

PTR-84: Fixes and adjustments after manual testing
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

PTR-83: Add errors notifications
  FRONTEND/package-lock.json
  FRONTEND/package.json
  FRONTEND/src/App.tsx
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/utils/DecodeTokens.ts
  FRONTEND/src/views/AdminPanelView.tsx
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

PTR-84: Fixes and adjustments after manual testing - part 2
  FRONTEND/package-lock.json
  FRONTEND/package.json
  FRONTEND/src/App.tsx
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/services/userService.ts
  FRONTEND/src/utils/DecodeTokens.ts
  FRONTEND/src/views/AdminPanelView.tsx
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

PTR-84: Fixes and adjustments after manual testing - part 2
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  FRONTEND/src/App.tsx
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/views/AdminPanelView.tsx
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: backend, frontend

More integration tests
  BACKEND/src/integrationTest/java/com/project/AdminIntegrationTest.java
  BACKEND/src/integrationTest/java/com/project/IntegrationTestUtils.java
  BACKEND/src/integrationTest/java/com/project/StudentIntegrationTest.java
  BACKEND/src/integrationTest/java/com/project/TeacherIntegrationTest.java
Labels: backend

PTR-82: Add more integration tests
  BACKEND/src/integrationTest/java/com/project/AdminIntegrationTest.java
  BACKEND/src/integrationTest/java/com/project/IntegrationTestUtils.java
  BACKEND/src/integrationTest/java/com/project/StudentIntegrationTest.java
  BACKEND/src/integrationTest/java/com/project/TeacherIntegrationTest.java
Labels: backend

PTR-84: Fixes and adjustments after manual testing - part 2
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  FRONTEND/src/App.tsx
  FRONTEND/src/components/LoginForm.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/views/AdminPanelView.tsx
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: backend, frontend

PTR-84: Fixes and adjustments after manual testing - part 3
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/controller/ListUsersController.java
  BACKEND/src/main/java/com/project/controller/StatsController.java
  BACKEND/src/main/java/com/project/model/AppStats.java
  BACKEND/src/main/java/com/project/service/ListUsersService.java
  BACKEND/src/main/java/com/project/service/StatsService.java
  FRONTEND/src/App.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/controllers/listUsersController.ts
  FRONTEND/src/controllers/statsController.ts
  FRONTEND/src/models/Stats.ts
  FRONTEND/src/services/adminStudentService.ts
  FRONTEND/src/services/adminTeacherService.ts
  FRONTEND/src/services/listUsersService.ts
  FRONTEND/src/services/projectService.ts
  FRONTEND/src/services/statsService.ts
  FRONTEND/src/services/taskService.ts
  FRONTEND/src/services/userService.ts
  FRONTEND/src/utils/DecodeTokens.ts
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/src/views/HomePageView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: backend, frontend

PTR-84: Fixes and adjustments after manual testing - part 3
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/controller/ListUsersController.java
  BACKEND/src/main/java/com/project/controller/StatsController.java
  BACKEND/src/main/java/com/project/model/AppStats.java
  BACKEND/src/main/java/com/project/service/ListUsersService.java
  BACKEND/src/main/java/com/project/service/StatsService.java
  FRONTEND/src/App.tsx
  FRONTEND/src/components/Navbar.tsx
  FRONTEND/src/components/RegisterForm.tsx
  FRONTEND/src/controllers/listUsersController.ts
  FRONTEND/src/controllers/statsController.ts
  FRONTEND/src/models/Stats.ts
  FRONTEND/src/services/adminStudentService.ts
  FRONTEND/src/services/adminTeacherService.ts
  FRONTEND/src/services/listUsersService.ts
  FRONTEND/src/services/projectService.ts
  FRONTEND/src/services/statsService.ts
  FRONTEND/src/services/taskService.ts
  FRONTEND/src/services/userService.ts
  FRONTEND/src/utils/DecodeTokens.ts
  FRONTEND/src/views/ChatView.tsx
  FRONTEND/src/views/HomePageView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: backend, frontend

Fix list user controllers
  FRONTEND/src/controllers/listUsersController.ts
Labels: frontend

Change display ID's to names for Project management views
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
Labels: frontend

Change display ID's to names for Task management view
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

Refactoring
  FRONTEND/src/views/ProjectByIdView.tsx
Labels: frontend

PTR-84: Fixes and adjustments after manual testing - part 4
  FRONTEND/src/controllers/listUsersController.ts
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: frontend

PTR-66: Add file management to the frontend
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/StartupConfig.java
  BACKEND/src/main/java/com/project/controller/IdentityController.java
  BACKEND/src/main/java/com/project/controller/ProjectFileController.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/model/Teacher.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  FRONTEND/src/components/FileUploadModal.tsx
  FRONTEND/src/models/Task.ts
  FRONTEND/src/services/taskService.ts
  FRONTEND/src/views/AdminPanelView.tsx
  FRONTEND/src/views/HomePageView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: backend, frontend

PTR-66: Fix failing backend UT pipeline
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: backend, frontend

PTR-66: Add file management to the frontend
  BACKEND/src/main/java/com/project/config/SecurityConfig.java
  BACKEND/src/main/java/com/project/config/StartupConfig.java
  BACKEND/src/main/java/com/project/controller/IdentityController.java
  BACKEND/src/main/java/com/project/controller/ProjectFileController.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/model/Teacher.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  FRONTEND/src/components/FileUploadModal.tsx
  FRONTEND/src/models/Task.ts
  FRONTEND/src/services/taskService.ts
  FRONTEND/src/views/AdminPanelView.tsx
  FRONTEND/src/views/HomePageView.tsx
  FRONTEND/src/views/ProjectByIdView.tsx
  FRONTEND/src/views/ProjectView.tsx
  FRONTEND/src/views/TaskView.tsx
Labels: backend, frontend

PTR-2: Conversion from MongoDB to MySQL
  BACKEND/build.gradle
  BACKEND/settings.gradle
  BACKEND/src/main/java/com/project/ProjectRestApiApplication.java
  BACKEND/src/main/java/com/project/config/StartupConfig.java
  BACKEND/src/main/java/com/project/config/filters/JwtAuthenticationFilter.java
  BACKEND/src/main/java/com/project/model/ChatMessage.java
  BACKEND/src/main/java/com/project/model/Project.java
  BACKEND/src/main/java/com/project/model/Student.java
  BACKEND/src/main/java/com/project/model/Task.java
  BACKEND/src/main/java/com/project/model/Teacher.java
  BACKEND/src/main/java/com/project/repository/ProjectRepository.java
  BACKEND/src/main/java/com/project/repository/StudentRepository.java
  BACKEND/src/main/java/com/project/repository/TaskRepository.java
  BACKEND/src/main/java/com/project/repository/TeacherRepository.java
  BACKEND/src/main/java/com/project/service/AdminStudentService.java
  BACKEND/src/main/java/com/project/service/AdminTeacherService.java
  BACKEND/src/main/java/com/project/service/ProjectFileService.java
  BACKEND/src/main/java/com/project/service/ProjectManagementService.java
  BACKEND/src/main/java/com/project/service/TaskManagementService.java
  BACKEND/src/main/resources/application.properties
  BACKEND/src/test/java/com/project/ProjectRestApiApplicationTest.java
  BACKEND/src/test/java/com/project/controller/ProjectManagementControllerTest.java
  BACKEND/src/test/java/com/project/controller/RegistrationControllerTest.java
  BACKEND/src/test/java/com/project/controller/TaskManagementControllerTest.java
  BACKEND/src/test/java/com/project/service/AdminStudentServiceTest.java
  BACKEND/src/test/java/com/project/service/AdminTeacherServiceTest.java
  BACKEND/src/test/java/com/project/service/AuthServiceTest.java
  BACKEND/src/test/java/com/project/service/ProjectManagementServiceTest.java
  BACKEND/src/test/java/com/project/service/TaskManagementServiceTest.java
  BACKEND/src/test/resources/application-test.properties
  CONTRIB/db/example.sql
  CONTRIB/docker/app-dependencies.yaml
  CONTRIB/docker/app-release.yaml
Labels: backend, infra

.github/labeler.yml:

backend:
- changed-files:
  - any-glob-to-any-file: 'BACKEND/**'

frontend:
- changed-files:
  - any-glob-to-any-file: 'FRONTEND/**'

infra:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - 'CONTRIB/**'

hotfix:
 - head-branch: ['fix', 'hotfix', 'bug', 'bug-fix']
